#header {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
  border-bottom: 1px solid #cccccc;
}
#header .logo {
  width: 75%;
  padding: 12px;
}
#header .logo img {
  max-height: 25px;
}
#header .appdown {
  width: 24%;
  height: 100%;
  padding: 8px;
}
#header .appdown img {
  max-width: 34px;
  max-height: 34px;
}
/*ËÑË÷¿ò²¿·Ö*/
#search {
  padding: 10px;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #ffffff !important;
}
#search input[type="search"] {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #f1f1f1;
  position: relative;
}
#search button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 58px;
  height: 30px;
  border-radius: 18px;
  background-color: #ff841d;
  color: #ffffff;
}
/*三级菜单栏*/
#menu {
  height: 45px;
  background-color: #f1f1f1;
  overflow: hidden;
}
#menu div {
  height: 100%;
  line-height: 45px;
  background-color: #f1f1f1;
}
#menu div a {
  color: #666;
  padding-left: 5px;
  padding-right: 5px;
}
#menu div a:first-of-type {
  padding-left: 10px;
}
#menu .screening {
  float: right;
  display: block;
  margin-right: 8px;
  height: 28px;
  background-color: #d0d0d0;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f5f5f5));
  border-bottom: 1px solid #bababa;
  box-shadow: 0 1px 2px #888;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  overflow: hidden;
  border: none;
  padding: 0 16px;
  margin-top: 4px;
}
/*商品内容列表*/
#product_list ul .item {
  padding: 10px 8px;
  background-color: #ffffff;
  position: relative;
}
#product_list ul .item .productImg {
  margin: 0 10px 0 10px;
  width: 100px;
  height: 100px;
}
#product_list ul .item .productImg img {
  width: 100%;
  height: 100%;
}
#product_list ul .item .product_description {
  overflow: hidden;
}
#product_list ul .item .product_description .productName {
  height: 56px;
  line-height: 30px;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  margin-left: 8px;
}
#product_list ul .item .product_description .productPrice {
  color: #ed0000;
  font-size: 18px;
  margin-top: 10px;
}
#product_list ul .item .product_description .productPrice p:first-letter {
  font-size: 12px !important;
}
#product_list ul .item .product_description .productPrice .moneyicon {
  font-size: 12px;
}
#product_list ul .item .product_description .other {
  font-size: 12px;
  margin-top: 6px;
}
#product_list ul .item .product_description .other div {
  overflow: hidden;
}
#product_list ul .item .product_description .other div:first-of-type {
  margin-left: 8px;
}
#product_list ul .item .product_description .other div:last-of-type {
  margin-right: 8px;
}
/*翻页功能样式*/
.single {
  text-align: center;
  margin-top: 20px;
  padding: 0 15px;
}
.single button {
  height: 33px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #d4d4d4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
  overflow: hidden;
}
.single .selpage li.pageTable {
  background-color: #d4d4d4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#ffffff));
}
.single .dropdown .dropdown-menu {
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  left: 50%;
  margin-left: -34px;
}
.single .dropdown .dropdown-menu > li {
  text-align: center;
  width: 68px;
  height: 33px;
  line-height: 33px;
  border-bottom: 1px solid #cccccc;
  border-radius: 5px;
}
.single .dropdown .dropdown-menu > li > a {
  background-color: #d4d4d4;
  height: 100%;
  width: 100%;
  padding: 0;
  line-height: 33px;
  border-bottom: 1px solid #cccccc;
}
.single .dropdown .dropdown-menu > li > a:focus,
.single .dropdown .dropdown-menu > li > a:hover {
  background-color: #d4d4d4;
}
/*页面底部登录注册返回顶部样式*/
#footer {
  margin-top: 20px;
}
#footer footer .product_bottom {
  text-align: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#footer footer .product_bottom li {
  float: left;
  width: 33.33%;
  height: 28px;
  border: 1px solid #cccccc;
  line-height: 28px;
}
#footer footer .product_bottom li a {
  display: block;
  color: #000;
}
#footer footer .product_bottom li:nth-of-type(even) {
  border-right: none;
  border-left: none;
}
#footer footer .product_bottom li:last-of-type {
  position: relative;
}
#footer footer .product_bottom li:last-of-type:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/wsImg/top.jpg") no-repeat;
  background-size: 50%;
  top: 5px;
  left: 10px;
}
#footer footer > p {
  text-align: center;
  font-size: 12px;
}
#footer footer > p:nth-of-type(1) {
  padding-top: 35px;
}
#footer footer > p:nth-of-type(1) span {
  color: #f95151;
}
/*滚动回顶部*/
.scrTop {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background-color: #000;
  opacity: 0.5;
  width: 40px;
  z-index: 9999;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
